@import '../../../styles/themes/variables';
@import '../../../styles/utilities/mixins';

.header {
  background-color: $color-light;
  padding: $spacing-md 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 $spacing-md;
  }
}