@import '../../../styles/themes/variables';
@import '../../../styles/utilities/mixins';

.nav {
  &__list {
    display: flex;
    list-style: none;
    gap: $spacing-md;
  }

  &__item {
    position: relative;
  }

  &__link {
    color: $color-text;
    font-weight: 600;
    padding: $spacing-xs 0;
    @include transition;

    &:hover {
      color: $color-primary;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color: $color-primary;
      @include transition(width);
    }

    &:hover::after {
      width: 100%;
    }
  }
}