// @use '../../styles/utilities/variables' as *;
@use "sass:color";
@use '../../styles/base/variables' as *;

.button {
  display: inline-block;
  padding: 0.8rem 2rem;
  border-radius: 4px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
  text-align: center;

  &.primary {
    background-color: $button-color;
    color: $color-white;

    &:hover {  
     background-color: color.adjust($button-color, $lightness: -10%);
    }
  }

  &.secondary {
    background-color: transparent;
    color: $button-color;
    border: 2px solid $button-color;

    &:hover {
      background-color: $button-color;
      color: $color-white;
    }
  }
}